// Specific CSS for your home-page

.header-container {
  display: flex;
  min-height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #F7CB15;
  padding: 90px 0;
  border-radius: 0px 0px 80px 80px;
  // margin-top: 56px;

  .header-container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

   .header-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-text {
    justify-content: center;
    align-items: center;
  }
}

.section-help {
  background: #F9F9F9;
}

.section-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;

  .section-card {
    // border: 0px solid red;
    text-align: center;
    width: 300px;
    min-width: none;
  }
}

.form-responsive {
  display: flex;
  flex-direction: column;
}

.select-tag {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.moods-categories {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 4rem; // 64px
  line-height: 4rem;
  /* or 31% */
  display: flex;
  align-items: center;
  color: #3A3335;
}

.subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem; // 24px
  line-height: 1.875; //30px
  /* or 125% */
  display: flex;
  align-items: center;
  color: #3A3335;
}

.help-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 3rem; // 64px
  line-height: 3rem;
  /* or 31% */
  display: flex;
  align-items: center;
  color: #3A3335;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    width: 100%;

    .header-container-main{
      margin-left: auto !important;
      width: 100%;
      margin-left: 5%;
      margin-right: 5%;
    }

    .header-image {
      width: 80%;
    }
  }

  .section-container {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    margin: 0rem
  }
}

.card-icon {
  width: 200px;
}
