// Import page-specific CSS files here.
@import "home";

.section-main {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FDFFFF ;
  gap: 1rem;
  position: relative;
}

.mapbox {
  max-width: 50% !important;
  border-radius: 8px;
  // box-shadow: 5px 5px 5px rgb(167, 165, 165);
}

@media (max-width: 768px) {
  .section-main {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  .mapbox {
    margin-top: 1rem;
    height: 50vh;
    width: 100% !important;
    max-width: 70% !important;
  }
  // .results-list {
  //   width: 70%;
  //   margin-bottom: 1rem;
  // }
}

.title-results {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 1.6rem;
  color: #3A3335;
  margin-top: 10px;
}



/// FONTS

// .result-line {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 300;
//   font-size: 1rem; // 16px
//   line-height: 1.875; //30px
//   /* or 125% */
//   display: flex;
//   align-items: center;
//   color: #3A3335;
// }

// .results-list {
//   width: 50%;
//   height: 80%;
//   background-color: #fdffff;
//   max-height: 31.25rem;
//   max-width: 29rem;
//   border-radius: 0.5rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
