@import "home";


.result-section {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FDFFFF ;
  // gap: 1rem;
  position: relative;
  // background: #FDFFFF;
  // height: 85vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  .result-random {
    padding-top: 2rem;
    background-color: white;
    min-height: 5%;
    max-height: 100%;
    max-width: 29rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1.8rem;
  }

  .title-results-random {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 1.3rem;
    color: #3A3335;

  }

  .botoes {
    display: flex;
    flex-direction: row;
  }

  li {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1rem; // 16px
    line-height: 1.875; //30px
    /* or 125% */
    display: flex;
    align-items: center;
    color: #3A3335;
  }

}


