<footer class="bg footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center text-lg-start my-auto h-100">
        <ul class="list-inline text-center mb-2">
          <li class="list-inline-item"><%= link_to "Know more about us", about_path, class: "link-about"%></li>
            <li class="text-muted small mb-4 mb-lg-0">Copyright &copy; 2022 Mood Menu. <br /> All rights reserved.</li>
        </ul>
    </div>
  </div>
</footer>


<%# <p class="text-muted small mb-4 mb-lg-0">This website was coded at Le Wagon Brazil, Batch #830</p>
      </div>
        <div class="col-lg-6 text-center text-lg-end my-auto h-100">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="#"><i class="fab fa-lg fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-lg fa-github"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-lg fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-lg fa-instagram"></i></a></li>
          </ul>
        </div> %>
