<footer class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright 2022 &copy; MOOD FOOD
  </div>
</footer>
