<div>
  <nav id="mainNav" class="navbar navbar-light navbar-expand-lg fixed-top navbar-main">
    <div class="container"><a class="navbar-brand" href="#page-top">MOODMENU</a><button class="navbar-toggler float-end" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div id="navbarResponsive" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#download">Teste</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
