<div class="container py-5" id="about">
  <div class="fill behind bg-main-yellow">
  </div>
  <div class="row flex-column align-items-center p-5">
    <div class="col-12 mb-4">
      <h1 class="text-center fw-bold">ABOUT</h1>
    </div>
    <div class="col-md-8 d-flex align-items-center my-3">
      <div class="row align-items-center">
        <div class="col-3 col-lg-2 d-flex align-items-center">
          <img class="rounded-circle w-100" src="http://via.placeholder.com/200x200" alt="">
        </div>
        <div class="col-9">
          <h2 class="">Caio Mendonça</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Temporibus libero possimus corrupti.
          Ipsa voluptatem nobis maxime labore quisquam!</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-flex align-items-center my-3">
      <div class="row align-items-center">
        <div class="col-3 col-lg-2 d-flex align-items-center">
          <img class="rounded-circle w-100" src="http://via.placeholder.com/200x200" alt="">
        </div>
        <div class="col-9">
          <h2 class="">Leon Siqueira</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Aut recusandae sunt doloremque corrupti sed similique soluta eveniet quis et consequuntur!</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-flex align-items-center my-3">
      <div class="row align-items-center">
        <div class="col-3 col-lg-2 d-flex align-items-center">
          <img class="rounded-circle w-100" src="http://via.placeholder.com/200x200" alt="">
        </div>
        <div class="col-9">
          <h2 class="">Maressa Alves</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Officiis tempore explicabo provident ducimus perspiciatis labore?</p>
        </div>
      </div>
    </div>
  </div>
</div>
