<header class="header-container">
  <div class="banner-1">
  <div class="container header-container-main">
      <div class="header-container-text">
        <h1>Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Molestiae, commodi</h1>
      </div>
        <div>
          <%= form_with url: "search", method: :get do |form| %>
            <%= form.label :query, "Search for:" %>
            <%= form.text_field :query %>
            <%= form.submit "Search" %>
          <% end %>
            <%#= simple_form_for @search do |form| %>
            <%#= form.input :address %>
            <%#= form.submit %>
            <%# end %>

        </div>
</div>
  </div>
  <div class="banner-2">
  </div>
</header>
<section>
  <div class="moods-categories">
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, commodi</h2>
  </div>
  <div>
</section>
<section>
  <div class="section-container">
    <div class="section-card">
      <img src="https://gopuff.com/go/Value-Prop-1.svg" style="width 40px">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, commodi. Asperiores ut, esse amet, suscipit minima, velit necessitatibus fuga ipsum voluptates magnam praesentium aperiam consectetur. Porro enim vel quos alias!</p>
    </div>
     <div class="section-card">
      <img src="https://gopuff.com/go/Value-Prop-1.svg" style="width 40px">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, commodi. Asperiores ut, esse amet, suscipit minima, velit necessitatibus fuga ipsum voluptates magnam praesentium aperiam consectetur. Porro enim vel quos alias!</p>
    </div>
     <div class="section-card">
      <img src="https://gopuff.com/go/Value-Prop-1.svg" style="width 40px">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, commodi. Asperiores ut, esse amet, suscipit minima, velit necessitatibus fuga ipsum voluptates magnam praesentium aperiam consectetur. Porro enim vel quos alias!</p>
    </div>
  </div>
</section>
