  .btn-botao {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 0.5rem;
    background: rgba(217, 92, 57, 0.9);
    border-radius: 30px;
    min-width: 115px;
    width: 20%;
    height: 42px;
    // left: 479px;
    // top: 462px;
    border-color: #ffffff00
  }

  @media (max-width: 768px) {
    .btn-primary {
      width: 100%;
    }
  }

  .single-line{
    max-height: 2.2em;
    overflow: hidden;
    display: flex;
    width: 100%;
  }

// .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
//   color: #fff;
//   background-color: #d95c39;
//   // border-color: #ffffff00; /*set the color you want here*/
// }
