  .btn-botao {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 0.5rem;
    background: rgba(217, 92, 57, 0.9);
    border-radius: 30px;
    min-width: 115px;
    width: 20%;
    height: 42px;
    // left: 479px;
    // top: 462px;
    border-color: #ffffff00;
  }

  .btn-botao:hover {
    color: #3A3335;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50% !important;
  }

  .single-line{
    max-height: 2.2em;
    text-align: center;
    width: max-content !important;
  }

  .btn-radio{
    background-color: transparent;
    border: #3A3335 solid 1px;
    color: #3A3335;
    font-weight: 300;
    &:hover{
      background-color: #f4f4f480;
      border: #f4f4f480 solid 1px ;
      color: #DB6735;
      transition: 0.1s;
    }
  }

  .btn-add{
    background-color: #3A3335;
    border: #3A3335 solid 2px;
    max-height: 2.2em;
    text-align: center;
    width: 45px;
    i {
      color: #F7CB15;
    }
  }

  .radio-checked {
    background-color: #f4f4f4;
    color: #DB6735;
    border: #f4f4f4 solid 1px ;
    font-weight: 500;
    &:hover{
      background-color: #f4f4f4;
      color: #db6735;
    }
  }
  .btn-voltar { // from index.html
    position: absolute;
    top: 23px;
    left: 15px;
  }

  .btn-voltar i { // from index.html
    color: #3A3335;

  }

  .btn-choose-another { // from index.html
    background-color: #FDFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #D95D39;
    border-radius: 30px;
    text-align: center;
    min-width: 115px;
    width: 50%;
    padding: 10px;
    // box-shadow: 5px 5px 5px rgb(167, 165, 165);
    margin-bottom: 10px;
    border: 1px solid #D95D39;
  }

  .btn-choose:hover { // from index.html
    color: #3A3335;
  }

  .btn-directions {
    background-color: #D95D39;
    // border-style: solid;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #FDFFFF;
    border-radius: 30px;
    text-align: center;
    min-width: 115px;
    width: 50%;
    padding: 10px;

    // box-shadow: 5px 5px 5px rgb(167, 165, 165);
  }

  .btn-choose {
    background-color: #D95D39;
    // border-style: solid;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #FDFFFF;
    border-radius: 30px;
    text-align: center;
    min-width: 115px;
    width: 50%;
    padding: 10px;

    // box-shadow: 5px 5px 5px rgb(167, 165, 165);
  }

  .btn-directions:hover { // from index.html
    color: #3A3335;
  }

  @media (max-width: 768px) {
    .btn-primary {
      width: 100%;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90% !important;
    }

    .btn-choose {
      width: 90%;
      margin-bottom: 2rem;
    }
  }

// .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
//   color: #fff;
//   background-color: #d95c39;
//   // border-color: #ffffff00; /*set the color you want here*/
// }
