
.footer {
  background-color: #3A3335;
  margin-top: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin: auto 0;
}
// .footer-links {
//   display: flex;
//   align-items: center;
// }
// .footer-links a {
//   color: black;
//   // opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   // opacity: 0.5;
// }


.link-about {
  color: #FDFFFF;
  text-decoration: none;
  align-items: center;
 }

.link-about:hover {
  color: #F7CB15;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-top: 1.6rem;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
  margin-top: 15px;
}
