.navbar-lewagon {
  justify-content: space-between;
  background-color: #3A3335;
  z-index: 5;
  text-align: right;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  font-family: Jost;
  font-weight: bold;
  color: #FDFFFF;
  font-size: 25px;
  line-height: 0.9;
  margin-left: 1rem;
}

.dropdown-item {
  color: #FDFFFF;
}

.fa-bars {
  color: #FDFFFF;
  size: 20px;
}

.navbar-toggler {
  border: transparent;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 13px;
  color: #FDFFFF;
}

.avatar {
  margin-left: 1rem;
  margin-right: 2rem;
}

.main-brand  {
  text-decoration: none;
  width: 40px;
  font-family: Jost;
  font-weight: 900;
  color: #FDFFFF;
  font-size: 25px;
  line-height: 0.9;
  margin-left: 2rem;
}

.drop-links {
  display: flex;
}

@media (max-width: 768px) {
  .drop-links {
    display: flex;
    flex-direction: column;
  }
}
