// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/about";
@import "pages/moods_index";

*{
  margin: 0;
  padding: 0;
  color: #3A3335;
}

// html{
//   min-height: 100vh;
// }

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
